body {
  margin: 0;
}

.jeu {
  width: 100%;
  display: flex;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.dashboard {
  width: 20%;
  margin: 1rem;
}

#planche {
  display: flex;
  flex-wrap: wrap;
  width: 50rem;
}

.card {
  width: 150px;
  height: 150px;
  background-color: #007bff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin: 1rem;
}

.card.hidden img {
  opacity: 0;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.card.matched img {
  opacity: 1;
}

.card.hidden {
  background-color: #ddd;
}

.relancer {
  font-size: 1rem;
  background-color: #44c767;
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
.relancer:hover {
  background-color: #5cbf2a;
}
.relancer:active {
  position: relative;
  top: 1px;
}

.score,
.best-score {
  margin: 1rem;
}

#score-display,
#best-score-display {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .jeu {
    flex-direction: column-reverse;
  }

  .main {
    width: 100%;
  }

  .dashboard {
    width: 90%;
  }

  #planche {
    width: 100%;
  }

  .card {
    width: 80px;
    height: 80px;
    margin: 5px;
  }
}
